@model NyheterApp.Models.Nyhet


@{
    ViewBag.Title = "LagNyNyhet";
}

<h2>LagNyhet</h2>


@using (Html.BeginForm("LagNyNyhet", "Admin", FormMethod.Post, new { enctype="multipart/form-data" }))
{

    <table>
        <tr>
            <td>@Html.Label("tittelTxt", "Tittel")</td>
            <td>@Html.TextBoxFor(x => x.Tittel, new { Tittel = "tittelTxt" })</td>
        </tr>
        <tr>
            <td>@Html.Label("tekstTxt", "Tekst")</td>
            <td>@Html.TextAreaFor(y => y.Tekst, new { id = "artikkelTekst" })</td>
        </tr>
        <tr>
            <td>@Html.Label("bildeopplast", "Velg bilde")</td> 
            <td><input id="bildeopplast" type="file" name="bildefil" /></td>
        </tr>
    </table>
    <input type="submit" value="Lagre nyhet" />

}

@if (ViewBag.LastetOpp != null)
{
    if (ViewBag.LastetOpp == true)
    {

        <p>Posting av artikkel ble gjenomørt</p>
    }
    else
    {
        <p>en feil skjedde @ViewBag.Feilmelding</p>
    }

}
