@model IEnumerable<NyheterApp.Models.Nyhet>


@{
    ViewBag.Title = "RedigerNyheter";
}

<h2>Rediger nyheter</h2>


@if (Model != null && Model.Count() > 0)
{

    foreach (var Nyhets in Model)
    {
        //Denne legger en url rundt hele nyhetsartikkelen, slik at den er klikkbar
        <table>
            <tr>
                <td>@Nyhets.Id</td>
                <td>@Nyhets.Tittel</td>
                <td>@Nyhets.Tekst</td>
                <td>@Html.ActionLink("Rediger", "RedigerNyhet", new { id = @Nyhets.Id }) <br />
                    @Html.ActionLink("Slett", "SlettNyhet", new { id = @Nyhets.Id }) 
                </td>
            </tr>
        </table>
    }
}
else
{
    <p>Ingen nyhetsartikler er skrevet enda</p>
}
