@model IEnumerable<NyheterApp.Models.Nyhet>


@{
    ViewBag.Title = "RedigerNyheter";
}

@{
    string loggOutTekst = "Logg ut " + ViewBag.Brukernavn;
}

@Html.ActionLink(loggOutTekst, "LogOut")
<h2>Rediger nyheter</h2>


@if (Model != null && Model.Count() > 0)
{
    <table id="rediger-nyheter-table">
        <tr>
            <th class="nyhets-id"> ID </th>
            <th class="nyhets-tittel"> Tittel </th>
            <th class="nyhets-tekst"> Tekst </th>
        </tr>
        @foreach (var Nyhets in Model)
        {

            <tr id="rediger-nyheter-table-content">
                <td class="nyhets-id">@Nyhets.Id</td>
                <td class="nyhets-tittel">@Nyhets.Tittel</td>
                <td class="nyhets-tekst">@Nyhets.Tekst</td>
                <td class="nyhets-rediger">
                    <img src="~/Content/Assets/ico-edit.png"> @Html.ActionLink("Rediger", "RedigerNyhet", new { id = @Nyhets.Id }) <br />
                    <img src="~/Content/Assets/ico-delete.png">@Html.ActionLink("Slett", "SlettNyhet", new { id = @Nyhets.Id }) <br />
                </td>
            </tr>
        }
    </table>
}
else
{
    <p class="tilbakemelding">Ingen nyhetsartikler funnet</p>
}


    <p class="tilbakemelding">@ViewBag.feilVisAlleNyheter</p>

