@model NyheterApp.Models.Nyhet
@{
    ViewBag.Title = "RedigerNyhet";
}

<h2>Rediger Nyhet</h2>
<label>Id @Model.Id</label>
@using (Html.BeginForm())
{
    
    
    
              
    @Html.TextBoxFor(Nyhet => Nyhet.Tittel)
    @Html.TextAreaFor(Nyhet => Nyhet.Tekst)

    <input type="submit" value="Endre Tittel" />
}

@if (ViewBag.feilRedigerNyhet != null)
{
    <p class="tilbakemelding">@ViewBag.feilEnNyhet</p>
}

@Html.ActionLink("Tilbake", "RedigerNyheter")
